body {
    font-family: Arial, sans-serif;
    background-image: url('https://media3.giphy.com/media/kcxXRFPcXUVe8CTLkE/200.gif?cid=6c09b952hzoj5ogz9hzpg4ui9c6mjhndsjk66rg2sutb2ib5&ep=v1_internal_gif_by_id&rid=200.gif&ct=g');
    background-size: cover;
}

header {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    height: 80vh;
}

.hero-text {
    max-width: 50%;
    padding: 1rem;
    margin-right: 2rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in;
    color: #F9A800;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1.5s ease-in;
    color: #fff;
}

.cta-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
