body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/originals/2c/24/ba/2c24ba2e0e1a2455cccc366a96efcbf0.jpg');
    background-size: cover;
}

header {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin-left: 410px;
    margin-top: -40px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 1rem;
}

    nav ul li a {
        color: #ffffff;
        text-decoration: none;
        padding: 0.5rem 1rem;
        background-color: rgb(207, 211, 0);
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
        margin-left: -300px;

    }

    nav ul li a:hover {
        background-color: #ff6b6b;
    }

.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    height: 80vh;
}

.hero-text {
    max-width: 50%;
    padding: 1rem;
    margin-right: 2rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgb(126, 126, 126);
    animation: fadeIn 1s ease-in;
    color: #F4E842;
}

p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    animation: fadeIn 1.5s ease-in;
    color: #fff;
}

.trailer.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color:rgb(207, 211, 48);
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    animation:fadeIn 2s ease-in, bounce 1s infinite;
    display:inline-block;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.image-grid div {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.image-grid img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoomIn 1s ease-in-out;
}

.img1 {
    top: 20px;
    left: 10px;
    margin-left: 100px;
    margin-top: -500px;
    margin-bottom: 200px;
}

.img2 {
    top: 60px;
    right: 10px;
    margin-left: 500px;
    margin-top: -100px;
    margin-bottom: 200px;
}

.img3 {
    top: 120px;
    left: 20px;
    margin-left: 500px;
    margin-top: -100px;
    margin-bottom: 200px;
}

.img4 {
    top: 180px;
    right: 20px;
    margin-left: 500px;
    margin-top: -100px;
    margin-bottom: 200px;
}

.img5 {
    top: 240px;
    left: 30px;
    margin-left: 500px;
    margin-top: -100px;
    margin-bottom: 200px;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
