*{
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background-color: rgb(#ffffff);
  padding: 10px 0;
  box-shadow: none;
  font-family: 'Verdana';
}

.header nav {
  display: flex;
  justify-content: flex-end;
}

.header nav a {
  color: #000000;
  text-decoration: none;
  margin: 0 15px;
  font-size: 25px;
}

.header nav a:hover {
  color: #FFA500;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../assets/img/eyes.jpg') no-repeat center center/cover;
  text-align: center;
  padding: 0 20px;
}

.content {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 58px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  color: #FFA500;
}

.subtitle {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  color: #919191;
}

.description {
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 30px;
  color: #000000;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background-color: #FFA500;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #9f9b9c;
}