* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

& .card2 {
    padding: 2rem;
    width: 35dvw;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 1.2rem;
    border: 1px solid rgba(245, 245, 245, 0.212);
    color: white;
    border-radius: 15px;

    & .card-img {
        position: absolute;
        height: calc(100% - 4rem);
        width: fit-content;
        right: 2rem;
        z-index: -1;
    }

    & .title {
        padding: 1rem 0;
        border-bottom: 1px white solid;
        width: fit-content;
        font-weight: 700;
        letter-spacing: 1.2rem;
        filter: invert(1);
    }

    & .description {
        padding: 1rem 0;
        width: 65%;
        font-size: 1rem;
        text-align: justify;
        text-justify: inter-word;
        filter: invert(1);
    }

    & i {
        filter: invert(1);
    }
}

@media only screen and (max-width: 1024px) {
    & .card2 {
        width: 60dvw;
    }
}