* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

& .card1 {
    width: 20dvw;
    text-align:justify;
    background-color: rgba(0, 0, 0, 0.308);
    padding: .7rem 1rem;
    border-radius: 5px;
    position: relative;
}

@media only screen and (max-width: 1024px) {
    & .card1 {
        width: 40dvw;

    }
}