*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-track{
    background-color: #f19595;
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb{
    background-color: #a30000;
    border-radius: 12px;
}