*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-track{
    background-color: #d7dcfc;
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb{
    background-color: #190396;
    border-radius: 12px;
}