body {
    font-family: Arial, sans-serif;
    background-image: url(../img/bg\ angry\ birds.png);
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    display: block;
    margin: 0 auto;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

.content {
        max-width: 50%;
        animation: fadeIn 2s ease-in-out;
        margin-top: -50px;
        .image-container {
            margin-top: -50px;
            animation: float 3s infinite;
        }
}


.content h2 {
    color: #da3434;
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-top: -50px;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 0px;
    word-spacing: 10px;
}

button {
    background-color: #da3434;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 200px;
}

button:hover {
    background-color: #c299d1;
}

.image-container {
    animation: float 3s infinite;
    margin-left: 50px;
    margin-right: 200px;
}

.image-container img {
    width: 300px;
    border-radius: 15px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes float {
    0% { transform: translatey(0px); }
    50% { transform: translatey(-10px); }
    100% { transform: translatey(0px); }
}
